{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<main class="container mt-5">
    <h1 style="margin-bottom: 20px;">About Us</h1>
    <p>Welcome to <m id="m-my">M</m><r id="r-my">y</r><m id="m-my">M</m><r id="r-my">essage</r>!</p>
    <p><m id="m-my">M</m><r id="r-my">y</r><m id="m-my">M</m><r id="r-my">essage</r> is a web-based messaging application created as a project for CS50, the introductory computer science course offered by Harvard University.</p>
    <p>Our mission is to provide a secure and reliable platform for users to exchange messages with their friends, family, and colleagues. We understand the importance of privacy in today's digital world, and we prioritize the protection of your data.</p>
    <p>With <m id="m-my">M</m><r id="r-my">y</r><m id="m-my">M</m><r id="r-my">essage</r>, you can communicate with others knowing that your messages are encrypted using state-of-the-art end-to-end encryption algorithms. This ensures that only the intended recipients can access and decipher the contents of your messages.</p>
    <p>We strive to deliver a user-friendly experience, making it easy for you to connect and engage with others through our intuitive interface. Whether you're sending a quick text message or engaging in a group conversation, <m id="m-my">M</m><r id="r-my">y</r><m id="m-my">M</m><r id="r-my">essage</r> offers a seamless and enjoyable messaging experience.</p>
    <p>Thank you for choosing <m id="m-my">M</m><r id="r-my">y</r><m id="m-my">M</m><r id="r-my">essage</r>! We hope you have a great time using our platform and feel free to reach out to us if you have any questions or feedback.</p>
</main>
<div id="space_between_main_footer">
    
</div>
{% endblock %}
