{% extends "layout.html" %}

{% block title %}
    End-To-End Encryption
{% endblock %}

{% block main %}
<main class="container mt-5">
    <h1 style="margin-bottom: 20px;">End-To-End Encryption</h1>
    <p>Welcome to the End-To-End Encryption feature page!</p>
    <p>At <m id="m-my">M</m><r id="r-my">y</r><m id="m-my">M</m><r id="r-my">essage</r>, we prioritize the privacy and security of your messages.</p>
    <p>Our end-to-end encryption ensures that your messages are securely encrypted on your device and can only be decrypted by the intended recipient. This means that even if intercepted, your messages remain confidential and protected from unauthorized access.</p>
    <p>Key features of our end-to-end encryption:</p>
    <ul>
        <li>Secure encryption of messages during transmission and storage</li>
        <li>Protection against eavesdropping and data breaches</li>
        <li>No access to message content by third parties, including MyMessage</li>
        <li>Confidentiality and privacy of your conversations</li>
    </ul>
    <p>With our end-to-end encryption, you can have peace of mind knowing that your messages are safe and only accessible by the intended recipients.</p>
    <p>Experience the power of secure communication with <m id="m-my">M</m><r id="r-my">y</r><m id="m-my">M</m><r id="r-my">essage</r> and enjoy the freedom to express yourself without compromising your privacy.</p>
</main>
{% endblock %}
