{% extends "layout2.html" %}

{% block title %}
    Rest Password
{% endblock %}

{% block main %}

    <form class="p-3 mt-3 " action="/forget_password" method="post" >
        {% if get_flashed_messages() %}
            {% for message in get_flashed_messages() %}
                {% if "password has been reset. Check email for reset link" in message %}
                    <p class="text-success">{{ message }}</p>
                {% else %}
                    <p class="text-danger">{{ message }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="username" id="username" placeholder="Username" title="Username" autofocus autocomplete="off">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="far fa-envelope"></span>
            <input type="text" name="email" id="email" placeholder="Email Address" title="Email"  autocomplete="off">
        </div>

        <button class="btn mt-3">Reset password</button>
    </form>


{% endblock %}

