{% extends "layout.html" %}

{% block title %}
    Help
{% endblock %}

{% block main %}
    <div class="container">

        <h1 class="text-center">Help</h1>

        <h2>Frequently Asked Questions</h2>

        <h3>Q: How does <m id="m-my">M</m><r id="r-my">y</r><m id="m-my">M</m><r id="r-my">essage</r> ensure the security of my messages?</h3>
        <p>A: <m id="m-my">M</m><r id="r-my">y</r><m id="m-my">M</m><r id="r-my">essage</r> employs end-to-end encryption, which means that your messages are securely encrypted on your device and can only be decrypted by the intended recipient. This ensures that no one, including <m id="m-my">M</m><r id="r-my">y</r><m id="m-my">M</m><r id="r-my">essage</r>, can access the content of your messages.</p>

        <h3>Q: How can I verify if my messages are encrypted?</h3>
        <p>A: <m id="m-my">M</m><r id="r-my">y</r><m id="m-my">M</m><r id="r-my">essage</r> uses end-to-end encryption by default for all messages. You can verify this by checking for the presence of encryption indicators, such as a lock icon or a message indicating that the conversation is secured, within the app.</p>

        <h3>Q: Are voice and video calls also encrypted?</h3>
        <p>A: Yes, voice and video calls made through <m id="m-my">M</m><r id="r-my">y</r><m id="m-my">M</m><r id="r-my">essage</r> are also encrypted using end-to-end encryption. This ensures that your calls are private and cannot be intercepted or accessed by unauthorized parties.</p>

        <h3>Q: Can <m id="m-my">M</m><r id="r-my">y</r><m id="m-my">M</m><r id="r-my">essage</r> access my messages or share them with third parties?</h3>
        <p>A: No, <m id="m-my">M</m><r id="r-my">y</r><m id="m-my">M</m><r id="r-my">essage</r> cannot access your messages or share them with third parties. The end-to-end encryption ensures that only you and the intended recipient can read the messages. <m id="m-my">M</m><r id="r-my">y</r><m id="m-my">M</m><r id="r-my">essage</r> does not have access to the encryption keys required to decrypt the messages.</p>

        <h3>Q: What should I do if I suspect a security breach or encounter any issues?</h3>
        <p>A: If you suspect a security breach or encounter any issues, please contact our support team immediately. You can reach us via email at support@<m id="m-my">M</m><r id="r-my">y</r><m id="m-my">M</m><r id="r-my">essage</r>.com or by calling our dedicated helpline at +1 123-456-7890. Our team will assist you in resolving any security concerns or technical difficulties.</p>

        <h2>Contact Us</h2>
        <p>If you have any further questions or need assistance, please feel free to contact our support team:</p>
        <ul>
            <li>Email: support@<m id="m-my">M</m><r id="r-my">y</r><m id="m-my">M</m><r id="r-my">essage</r>.com</li>
            <li>Phone:  + 01 234 567 88</li>
            <li>Address:  Cairo, Giza 20015, Egypt</li>
        </ul>
    </div>

{% endblock %}
