{% extends "layout2.html" %}

{% block title %}
Rest Password
{% endblock %}

{% block main %}

<form class="p-3 mt-3 " action="/reset_password" method="post">
    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            {% if "Password changed successfully!" in message %}
            <p class="text-success">{{ message }}</p>
            {% else %}
            <p class="text-danger">{{ message }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="form-field d-flex align-items-center">
        <input type="hidden" name="email" id="email" value="{{ email }}">
        <input type="hidden" name="token" id="token" value="{{ token }}">
        <span class="fas fa-key"></span>
        <input type="password" name="new_password" id="new_password" placeholder="New Password" title="New Password" autofocus autocomplete="off" required>
    </div>
    <div class="form-field d-flex align-items-center">
        <span class="fas fa-key"></span>
        <input type="password" name="new_password_again" id="new_password_again" placeholder="New Password Again" title="New Password Again" autocomplete="off" required>
    </div>
    <button class="btn mt-3">Change Password</button>
</form>


{% endblock %}