{% extends "layout.html" %}
    
{% block title %} Search {% endblock %}



{% block main %}
<div class="container">
    <div class="row ng-scope">
        <div class="col-md-7 col-md-pull-3">
            <p class="search-results-count">About {{ results }} found</p>
            {% for user in db_users%}
            <section class="search-result-item">
                <a class="image-link" href="#"><img class="image" src="{{url_for('static', filename='images/uploaded_images/' ~ user['user_id'] ~ '.png')}}" id="search-image-result">
                </a>
                    <div class="row">
                        <div class="col-sm-9">
                            <h4 class="search-result-item-heading"><a href="#">{{user["first_name"]}} {{user["last_name"]}}</a></h4>
                        </div>
                        <div class="col-sm-3 text-align-center">
                            <a class="btn btn-primary btn-info btn-ml" href="/users/{{user['user_id']}}">Go To Profile</a>
                        </div>
                </div>
            </section>  
            {% endfor %}
        </div>
    </div>
</div>

<div style="margin-top: 700px;">
    
</div>
{% endblock %}

